<head>
    <meta name="KEYWORDS" content="practice exams, ham radio test,ham exams, ham radio exams, radio license exams, amateur radio exams"> 
    <meta name="DESCRIPTION" content="Copasetic Flows ham radio practice exams.  Practice test for your ham radio and commercial license.   - Copasetic Flows is a ham radio, amatuer radio, and commercial radio web site"> 

<script type="text/javascript" src="http://www.google.com/jsapi"></script>


<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-1414453-1']);
  _gaq.push(['_setDomainName', 'none']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<script src="jscript/prototype.js" type="text/javascript"></script>
<script src="jscript/scriptaculous.js" type="text/javascript"></script>

<style type="text/css" media="screen">     
.tableinput{border: 0px solid #666666; background-color: #ffff00; color: #000000;}    
img{}
table.quiz td{font-size:14px;}
    #tabs{
        margin-left: 4px;
        padding: 0;
        background: transparent;
        voice-family: "\"}\"";
        voice-family: inherit;
        padding-left: 5px;
    }
    #tabs ul{
        font: bold 11px Arial, Verdana, sans-serif;
        margin:0;
        padding:0;
        list-style:none;
    }
    #tabs li{
        display:inline;
        margin:0 2px 0 0;
        padding:0;
        text-transform:uppercase;
    }
    #tabs a{
        float:left;
        margin:0 2px 0 0;
        padding:0 0 1px 3px;
        text-decoration:none;
    }
    #tabs a span{
        float:left;
        display:block;
        padding:4px 9px 2px 6px;
    }
    #tabs a span{float:none;}
    #tabs a:hover{background-color: #666666;color: white;}
    #tabs a:hover span{background-color: #666666;}
    #tabHeaderActive span, #tabHeaderActive a { background-color: #666666; color:#ffffff;}
    .tabContent {
        clear:none;
        border:2px solid #42577B;
        padding-top:2px;
        background-color:#FFF;
    }

    .qslgadget{
       overflow-y:auto;
       overflow-x:auto;
       color:#DDDDDD;
     }  


    #htabs{
        margin-left: 4px;
        padding: 0;
        background: transparent;
        voice-family: "\"}\"";
        voice-family: inherit;
        padding-left: 5px;
    }
    #htabs ul{
        font: bold 11px Arial, Verdana, sans-serif;
        margin:0;
        padding:0;
        list-style:none;
    }
    #htabs li{
        display:inline;
        margin:0 2px 0 0;
        padding:0;
        text-transform:uppercase;
    }
    #htabs a{
        float:left;
        margin:0 2px 0 0;
        padding:0 0 1px 3px;
        text-decoration:none;
    }
    #htabs a span{
        float:left;
        display:block;
        padding:4px 9px 2px 6px;
    }
    #htabs a span{float:none;}
    #htabs a:hover{background-color: #666666;color: white;}
    #htabs a:hover span{background-color: #666666;}
    #htabHeaderActive span, #htabHeaderActive a { background-color: #666666; color:#ffffff;}

a:link {color:#DDDDDD;}      /* unvisited link */
a:visited {color:#DDDDDD;}  /* visited link */
a:hover {color:#DDDDDD;}  /* mouse over link */
a:active {color:#DDDDDD;}  /* selected link */
a.helpimg:link {color:#FFFFFF}
a.helpimg:visited {color:#FFFFFF}
a.examhlink:link {color:#0000FF}
a.examhlink:visited {color:#0000FF}


#entries
{
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
width:100%;
border-collapse:collapse;
}
#entries td, #entries th 
{
font-size:.8em;
border:1px solid #98bf21;
padding:3px 7px 2px 7px;
}
#entries th 
{
font-size:.9em;
text-align:left;
padding-top:5px;
padding-bottom:4px;
background-color:#A7C942;
color:#ffffff;
}
#entries tr.alt td 
{
color:#000000;
background-color:#EAF2D3;
}
#entries tr.notalt td 
{
color:#000000;
background-color:#ffffff;
}


</style>
</head>
<body style="background-color:#111111; padding-right:50px ; padding-left:50px; y-overflow:auto">
<link type="text/css" rel="stylesheet" href="jscript/headerhelp.css" />
<div id='header-wrapper'>
<div class='header' id='header'>
<div id='header-inner'>
<div class='titlewrapper'>
<h1 class='title'>
<a href='http://copaseticflow.blogspot.com/'>Copasetic Flows</a>
</h1>
</div>
</div>
</div>
</div>
<div id="adheader" style="position:relative; text-align:center; line-height:1.1; width:100%;">
<script type="text/javascript"><!--
google_ad_client = "pub-6583317371769852";
/* 468x15, created 8/11/10 */
google_ad_slot = "2270446121";
google_ad_width = 468;
google_ad_height = 15;
//-->
</script>

</div>
<br>
<div style="position:relative; width:760px; background-color:#333333; border: 3px solid #666666;">
<div id=menubar style="position:relative; width:100%; background-color:#333333; border-bottom: 1px solid #666666;">
  <table style="width:100%; ">
  <tr>
  <td>
    <div style="text-align:left">
      <a href="javascript:void(0)" onClick="htoggleTab(1,5);">Practice Exams</a><br><small><a href="https://github.com/hcarter333/ham-radio-freedom">this is open source</a></small>
    </div>
  </td>
  <td id="menubar">
    <div style="text-align:center; color:#DDDDDD; font-family:Trebuchet MS, Arial, Helvetica, sans-serif;">
      <b>Amateur Radio Practice Exams</b><br>
      <b>New! <a target="_blank" href="/helpindex">Study Material Index</a></b>
      <tiny><a style="color:#0000FF" href="javascript:void(0)" onClick="setHelpVideo(2); toggleTab(5,5)">help</a></tiny>
    </div>
  </td>
  <td>
    <div style="text-align:right">
      <!--  <a href="javascript:void(0)" onClick="fb_tech_passed();">test</a> -->
      <a target="_blank" href="/examhelp/hamlicense.html">Getting Your License</a>
      <a href="/examhelp/acf.html">About</a>
    </div>
  </td>
  </tr>
  </table>
  </div>


  <div id="htabs" style=" width:100%; height:0px; float:right; background-color:#333333; ">

    <ul>
        <li style="margin-left: 1px; display:none" id="htabHeaderActive"><a href="javascript:void(0)" onClick="htoggleTab(1,5)"><span>Test</span></a></li>
        <li style="display:none" id="htabHeader2"><a href="javascript:void(0)" onClick="htoggleTab(2,5);" ><span>Scores</span></a></li>
        <li style="display:none" id="htabHeader3"><a href="javascript:void(0)" onClick="htoggleTab(3,5);" ><span>Forum</span></a></li>
        <li style="display:none" id="htabHeader4"><a href="javascript:void(0)" onClick="htoggleTab(4,5);" ><span>Mapper</span></a></li>
        <li style="display:none" id="htabHeader5"><a href="javascript:void(0)" onClick="htoggleTab(5,5);" ><span>Mapper</span></a></li>
    </ul>
    </div>
    <div id="htabscontent" style="position:relative; width:100%; background-color:#333333 ">


        <div id="htabContent1" class="htabContent" style="display:yes; ">


<div style="margin-left:auto; margin-right:auto; width:100%; height:95%; background-color:#333333">
<div style="position:relative; float:left; width:140px; height:95%; border-right: 1px solid #666666; padding-top:2px; padding-left:2px; background-color:#333333">
  <div id="Tsel" style="position:relative; float:left; width:100%; background-color:#888888; color:#DDDDDD">
    <a href="javascript:void(0)" onClick="new_test2('T')">technician</a>
  </div>
  <div id="Gsel" style="position:relative; float:left; width:100%; color:#DDDDDD">
    <a href="javascript:void(0)" onClick="new_test2('G')">general</a>
  </div>
  <div id="GNsel" style="position:relative; float:left; width:100%; color:#DDDDDD">
    <a href="javascript:void(0)" onClick="new_test2('GN')">NEW general</a>
  </div>
  <div id="Esel" style="position:relative; float:left; width:100%; color:#DDDDDD">
    <a href="javascript:void(0)" onClick="new_test2('E')">extra</a>
  </div>
  <div id="NZsel" style="position:relative; float:left; width:100%; color:#DDDDDD">
    <a href="javascript:void(0)" onClick="new_test2('NZ')"></a>
  </div>
  <div id="CBsel" style="position:relative; float:left; width:100%; color:#DDDDDD">
    <a href="javascript:void(0)" onClick="new_test2('CB')"></a>
  </div>
  <div id="CAsel" style="position:relative; float:left; width:100%; color:#DDDDDD">
    <a href="javascript:void(0)" onClick="new_test2('CA')"></a>
  </div>
  <div id="C1sel" style="position:relative; float:left; width:100%; color:#DDDDDD">
    <a href="javascript:void(0)" onClick="new_test2('C1')"></a>
  </div>
  
  <div id="C2sel" style="position:relative; float:left; width:100%; color:#DDDDDD">
    <a href="javascript:void(0)" onClick="new_test2('C2')"></a>
  </div>
  <div id="C5sel" style="position:relative; float:left; width:100%; color:#DDDDDD">
    <a href="javascript:void(0)" onClick="new_test2('C5')"></a>
  </div>
  <div id="C7sel" style="position:relative; float:left; width:100%; color:#DDDDDD">
    <a href="javascript:void(0)" onClick="new_test2('C7')"></a>
  </div>

  <div id="sitefriends" style="position:relative; float:left; width:100%; color:#DDDDDD">
  Friend Sites:</br>
  <a target="_blank" href="http://www.dashtoons.com/">
  <img width="130px" src="img/41794_131747245635_3297417_n.jpg"></a><p>
  <a target="_blank" href="http:/hamqth.com/">
  <img width="125px" src="http://hamqth.com/images/hamqth_125x125_nt.png"></a>
  </div>
</div>
<div style="position:relative; float:left; width:600px; height:95%; overflow-y:auto; line-height:1.1; background-color:#333333; padding-top:2px; padding-left:7px; padding-right:7px">

  <div id="tabs" style=" width:100%; height:4%; float:right; background-color:#333333; ">

    <ul>
        <li style="margin-left: 1px" id="tabHeaderActive"><a href="javascript:void(0)" onClick="toggleTab(1,5)"><span>Test</span></a></li>
        <li id="tabHeader2"><a href="javascript:void(0)" onClick="toggleTab(2,5); show_results()" ><span>Scores</span></a></li>
        <li id="tabHeader4"><a href="javascript:void(0)" onClick="toggleTab(4,5)" ><span>Subelement</span></a></li>
        <li id="tabHeader3"><a href="javascript:void(0)" onClick="toggleTab(3,5)" ><span>Login</span></a></li>
        <li id="tabHeader5"><a href="javascript:void(0)" onClick="toggleTab(5,5)" ><span>Help</span></a></li>
    </ul>
    </div>
    <div id="tabscontent" style=" width:450px; float:left; height:93%; background-color:#333333 ">


        <div id="tabContent1" class="tabContent" style="display:yes; ">


<table id="q_table" border="thin solid" class='quiz'>
<tr><td id="test_header" style="background-color:#DDDDDD"; colspan="2">New Zealand Amateur Radio Examination Practice (Question pool published March, 2010)</td></tr>

<tr><td id="question_table" colspan="2">Loading...</td></tr>
<tr><td ><input type="radio" name="answer" id="radio_a" onclick="check(this.value, 'answer_a')" value="a"></td>
<td id="answer_a">Loading...</td></tr>
<tr><td><input type="radio" name="answer" id="radio_b" onclick="check(this.value, 'answer_b')" value="b"></td>
<td id="answer_b">Loading...</td></tr>
<tr><td><input type="radio" name="answer" id="radio_c" onclick="check(this.value, 'answer_c')" value="c"></td>
<td id="answer_c">Loading...</td></tr>
<tr><td><input type="radio" name="answer" id="radio_d" onclick="check(this.value, 'answer_d')" value="d"></td>
<td id="answer_d">Loading...</td></tr><tr><td id="q_figure" colspan="2">Loading...</td></tr>
<tr><td id="q_correct" style="background-color: #DDDDDD" colspan="2">Questions Answered = 0 of 60 Accuracy = 0 Score = 0</td></tr>
</table><input id="next_question" type="button" value="Next Question" onclick="question_getter(this.value)">
<input id="savescore" type="button" value="Save Scores" onclick="save_score()"><a class="helpimg" href="/examhelp/savescore.html" target="examhelp"><img style="vertical-align:middle" src="img/help.jpg" alt="?"></a>
<p>
<div id="subdiv_old">
</div>
<div id="qforumdiv">

</div>



      </div>
        <div id="tabContent2" class="tabContent" style="display:none; ">
            <br /><div>Login to see saved test scores</div>
        </div>

        <div id="tabContent4" class="tabContent" style="display:none; ">
            <br />
            <div id='subdiv_head'>Click one of the buttons below to study a specific subelemnt on U.S. ham radio exams
            <tiny><a style="color:#0000FF" href="javascript:void(0)" onClick="setHelpVideo(1); toggleTab(5,5)">help</a></tiny>
            </div>
            <div id='subdiv'>subelement buttons</div>
        </div>

        <div id="tabContent5" class="tabContent" style="display:none; ">
        <div id="helpvideo"></div>
        <div style="border-top: 1px solid #666666; "><b>Help Topics</b><br>
          <a style="color:#0000FF" href="javascript:void(0)" onClick="setHelpVideo(1); toggleTab(5,5)">Subelement Focus</a><br>
          <a style="color:#0000FF" href="javascript:void(0)" onClick="setHelpVideo(2); toggleTab(5,5)">Study Material Index</a><br>
          <a style="color:#0000FF" href="javascript:void(0)" onClick="setHelpVideo(3); toggleTab(5,5)">Login Screen</a><br>
        </div>
        </div>


        <div id="tabContent3" class="tabContent" style="display:none;">
          <div id="login_top">
          Login to save scores and track your progress<br>
          <iframe name="login_target" height="0" width="0"></iframe><br>
          <form target="login_target" id="login_form" action="/" method="POST">
          Name:<input size="10" type="text" name="user" id="user"><br>
          Password:<input size="10" type="text" name="password" id="password"><br>
          <input id="my_login" type="button" value="Login" onclick="log_it_in()">
          <input id="c" type="button" value="Create" onclick="create_acct()">
          <tiny><a style="color:#0000FF" href="javascript:void(0)" onClick="setHelpVideo(3); toggleTab(5,5)">help</a></tiny>
          </form>
          </div>
          <div id="login_bottom"><br>
          When you login, your scores are automatically tracked 
          in the Scores tab.  
          In addition, the question you've answered are tracked, 
          so you can take a test that contains questions you've 
          never answered, (unseen), or questions you've never answered 
          correctly, (unpassed).  See the example below.
          <img src="img/scoretrack.jpg">
          </div>
        </div>

</div><!-- Closes tabcontents -->
  <div style="width:121px; float:right">
  <span style="color:#dddddd">
  <div id="invfr"></div>
  <div class="fb-like" data-href="http://apps.facebook.com/fcctech" data-send="true" data-layout="button_count" data-width="250" data-show-faces="true" data-colorscheme="dark"></div>

  </div>

</div><!-- Closes right hand content -->
</div><!-- Closes container of test menu and right hand test -->
</div><!-- Closes htab1 -->



        <div id="htabContent2" class="htabContent" style="display:none; width:100%; height: 80%;  ">
    <input id="closecal" style="float:right" type="button" value="X" onclick="htoggleTab(1,5)">
        
        </div>

        <div id="htabContent3" class="qslgadget" style="display:none; background-color:#333333; width:100%; height: 100%;  ">
    <input id="closeforum" style="float:right" type="button" value="X" onclick="htoggleTab(1,5)"><br>
    <div id="forum" style="position:relative; opacity:1; background-color:#333333; left:2.5%; width:95%; height:95%;">
        <span id="forumout" style="color:#DDDDDD"><br>If you can't see the forum below, you're browser's unhappy with it please click here.</span>
     <!-- Top -->

     
     
     

     
     <!--Explanation -->
     
     
     
        
    </div>
        
        </div>

<div id="htabContent4" class="qslgadget" style="position:relative; 
           display:none; margin-left:auto; margin-right:auto; 
           width:495px; height:90%">
<div style="position:absolute; line-height:1.1; width:450px; float:left">



<div id="map" style="width:445px; height:300px; float:left; "></div>
<b>Most Recent Spots</b><br>
<div id="logtable" style="height:200px; width:445px; overflow-y:auto; float:left; ">
<table id="entries" rules=groups frame=box style="width:100%; "><tr>
  <th>From</th><th>To</th><th>Date</th><th>Time</th><th>kHz</th><th>Map!</th>
</tr>
{% for qsl in qsls %}
<tr class="{% cycle alt,notalt %}" title="power={{qsl.power}}W TxRST={{qsl.rst}} RxRST={{qsl.rrst}} Mode={{qsl.mode}}">
<td id="tx_log_call{{ forloop.counter }}">{{qsl.tx_call}}</td>
<td id="rx_log_call{{ forloop.counter }}">{{qsl.rx_call}}</td>
<td id="q_date{{ forloop.counter }}">{{qsl.date}}</td>
<td id="q_time{{ forloop.counter }}">{{qsl.time}}</td>
<td id="q_freq{{ forloop.counter }}">{{qsl.frequency}}</td>
<td><input type="checkbox" id="callmap{{ forloop.counter }}" name="vehicle" onclick="map_call_s({{ forloop.counter }})" />
<input id=rx_lat{{ forloop.counter }} type='hidden' value='{{qsl.rx_lat}}'>
<input id=rx_lng{{ forloop.counter }} type='hidden' value='{{qsl.rx_lng}}'>
<input id=tx_lat{{ forloop.counter }} type='hidden' value='{{qsl.tx_lat}}'>
<input id=tx_lng{{ forloop.counter }} type='hidden' value='{{qsl.tx_lng}}'>
</td></tr>
{% endfor %}
</table>
</div>

<div id="insructions" style="width:100%; color:#DDDDDD">
<span text-align:center><b>Using the QSO Mapper</b><br></span>
Map the location of the ham radio operator you just contacted and find the distance from your 
amateur radio station to their station. Enter your callsign in the transmit call box and the callsign of the 
receiving sation in the receive call box, then click on the 'Map It!' button.
<p>  Using QRPp?  Find out how many miles per watt your station 
is propagating by entering the power sent to your station's antenna before clicking the "Map It!" button. 
</div> 
<div id="qcomm" style="width:100%; background-color:#FFFFFF; ">
<fb:comments color="#dddddd" width="330" notify=true xid=cf_qsomapper></fb:comments>
</div>


</div>

  <div style="width:121px; float:right">
  </div>
</div>

<div id="htabContent5" class="qslgadget" style="position:relative; 
           display:none; margin-left:auto; margin-right:auto; 
           width:97%; height:90%">
           
    <input id="closeforum2" style="float:right" type="button" value="X" onclick="htoggleTab(1,5)"><br>
    <div id="forum2" style="position:relative; opacity:1; background-color:#333333; width:99%; height:95%;">
  <iframe name="forumtest" width="100%" height="95%" src="">
  </iframe>
  </div>
</div>
</div>
</div>

<div style="margin-left:auto; margin-right:auto; width:100%; background-color:#333333; color:#DDDDDD; border-top: 3px solid #666666;">
<b>Using the Ham Radio Practice Exams</b><br>
The practice exams are constructed from the published question pools that 
are used on the actual FCC ham radio license exams.  Each practice test 
is randdomly constructed so you get a different practice exam each time.<br><br>
You don't need to log-in to use the practice exams, but if you do you 
can track your exam score progress on the 'Scores' tab.  You'll  also 
find 'New Test Unseen' and 'New Test Unpassed' buttons there.  If you're 
logged-in, the questions you haven't seen yet as well as the questions you 
have yet to answer correctly are tracked.  These buttons create tests that 
contain questions you haven't seen or questions you haven't answered 
correctly<br><br>
Several exam questions have associated help manual topics.  Just click 
the 'Study Material' link on these questions.<br><br>
You can take practice exams for each of the FCC amateur radio license
classes, technician class, general class, and extra class, by clicking on the 
appropriate license class tab to the left of the test area.  Ham radio 
practice exams are also included for Canada and New Zealand.<br><br>
<b><a href="http://www.arrl.org/find-an-amateur-radio-license-exam-session">
Find an exam in your area using ARRLs exam locator</a></b><br><br>
<b>New FCC Commercial Operator License Practice Exams</b><br>
I'm starting to add free practice exams for the FCC GROL, (General Radiotelephone Operator License). 
Element 1, Element 3, Element 5 and Element 7 have already been added.  Element 1 is required for 
your First Class Radiotelegraph Operator's Certificate, 
Second Class Radiotelegraph Operator's Certificate, 
Third Class Radiotelegraph Operator's Certificate, 
General Radiotelephone Operator License, 
Marine Radio Operator Permit, 
GMDSS Radio Operator's License, 
Restricted GMDSS Radio Operator's License, and your
GMDSS Radio Maintainer's License.  Element 3 is required for your 
General Radiotelephone Operator License, and your 
GMDSS Radio Maintainer's License.  Element 5 is required for your 
First Class Radiotelegraph Operator's Certificate, 
Second Class Radiotelegraph Operator's Certificate, and 
Third Class Radiotelegraph Operator's Certificate.  Element 7 is required for your 
GMDSS Radio Operator's License<br>
If you're studying for the following commercial tickets, all the written 
element practice tests you need are here:<br>
Third Class Radiotelegraph Operator's Certificate<br>
General Radiotelephone Operator License<br>
Marine Radio Operator Permit<br>
GMDSS Radio Operator's License<br><br>

<b>Something broken?  Need help?  Think it's great?</b><br>
Contact me at hcarter333@gmail.com and let me know what you think. If you 
like these exams, please share them with your friends.<br><br>

<b>As seen on</b><br>
<a href="http://k6aa.com/index.php/menu-licenseexams">United Radio Amateur Club K6AA</a><br>
<a href="http://www.albemarleradio.org/">Albamarle Amateur Radio Club</a><br>
<a href="http://dbara.org/hbc_want2bcomeaham.htm">Daytona Beach Amateur Radio Association K4BV</a><br>
<a href="http://louisianacontestclub.org/">Louisiana Contest Club</a><br>
<a href="http://rars.org/links.php">Raleigh Amateur Radio Society</a><br>
<a href="http://www.nofars.net/started.html">W4IZ NORTH FLORIDA AMATEUR RADIO SOCIETY</a><br>
<a href="http://hamfesters.org/">W9AA Hamfesters Radio Club</a><br>
<a href="http://westvalleyarc.org/">West Valley Amateur Club</a><br>
<a href="http://tricityara.org/">N7TCA Tri-City Amateur Radio Association</a><br>
<a href="http://frontierars.com/">Frontier Amateur Radio Society</a>
<a href="http://w4nvu.org/?page_id=90">W4NVU Dade Radio Club of Miami Inc.</a><br>
<a href="http://bara.club.officelive.com/MiscellaneousLinks.aspx">K8BMI Barry Amateur Radio Association</a><br>
<a href="http://w6lie.org/links2.html"Kern County Central Valley Amateur Radio Club</a><br>
<a href="http://w4drc.webstarts.com/">Dalton Georgia Amateur Radio Club</a><br>
<a href="http://kish-club.org/">KISHWAUKEE AMATEUR RADIO CLUB</a><br>
<a href="http://nc8x.com/">NC8X</a><br>
<a href="http://441700.org">441.700 Repeater System</a><br>
<a href="http://fsaarc.org/">Fort Smith Area Amateur Radio Club</a><br>
<a href="http://k4hy.net/links/10-training">K4HY</A><br>
<a href="http://k9mwl.com/page33">K9MWL</a><br>
<a href="http://w7mot.org">W7MOT</a><br>
<a href="http://www.deltadx.net/DX_linx.htm">Delta DX Association</a><br>
<a href="http://jcara.org/viewpage.php?page_id=35#hampages">Johnson City Amateur Radio Association</a><br>
<a href="http://w4bug.org/">Gold Coast Amateur Radio Assn. Inc.  W4BUG</a><br>
<a href="http://rcara.site90.com/">River Cities Amateur Radio Association</a><br>
<a href="http://www.braarc.net/hamtest.html">Big Rapids Area Amateur Radio Club</a><br>
<a href="http://miltonarc.org/">Milton Amateur Radio Club W4VIY</a><br>
<a href="http://www.theshak.info/home/online-practice-tests">Oven Baked Hams - W5OBH</a><br>
<a href="http://www.qsl.net/ah6rh/am-radio/license-tech/">Ron Hashiro Ham Radio Hawaii</a><br>
<a href="http://w1mlk.webs.com/practicetestshere.htm">W1MLK Radio</a><br>
<a href="http://sarg-krv.harmanmysteries.com/index.php?pr=Test_Pool">Sequoia Amateur Radio Group</a><br>
<a href="http://www.vhf.org.nz/pubs/VHFGuide/">New Zealand Amateur Radio Study Guide</a><br>
<a href="http://www.nadxa.org/">North American DX Association</a><br>
<a href="http://www.arrl.org">ARRL</a><br>
<a href="http://bluetubeproject.blogspot.com">Bluetube Project</a><br>
<a href="http://soldersmoke.blogspot.com">SolderSmoke</a><br>
<a href="http://www.kb7tbt.com/newham/">KB7TBT</a><br>
<a href="http://jimsengraving.com">Jim's Engraving</a><br>
<a href="http://www.darc-w4atd.org">Decatur (Alabama) Amateur Radio Club</a><br>
<a href="http://w5ddl.org">Acadiana Amateur Radio Association</a><br>
<a href="http://srhams.org/menu.html">Sam's Radio Hams</a><br>
<a href="http://bratsatv.com/2008/12/11/new-online-practice-tests/">Milliwatt - BRATS Newsletter"</a><br>
<a href="http://bigbendarc.com/">Big Bend Amateur Radio Club</a><br>
<a href="http://nparc.org/becomeham.htm">New Providence Amateur Radio Club</a><br>
<a href="http://sbara.org/">South Bay Amateur Radio Association</a><br>
<a href="http://www.shaunlippy.org">shaunlippy.org</a><br>
<a href="http://www.kp4nke.com/test.html">KP4NKE</a><br>
<a href="http://aeroarc.us/home.html">AeroARC</a><br>
<a href="http://wc5c.org/HamRadio/Training/tabid/352/Default.aspx">WC5C</a><br>
<a href="http://www.deltaclub.org/links_page.html">Delta Amateur Radio Club</a><br>
<a href="http://www.kb1vcz.net">KB1VCZ</a><br>
<a href="http://www.ddxa.org">ddxa.org</a><br>
<a href="http://icqpodcast.com/">ICQ Podcast</a><br>
<a href="http://vomarc.org/links.html">Valley of the Moon Amateur Radio Club</a><br>
</div>

<script type="text/javascript">
    var t_test_help = [];
  {% for help in t_helps %}t_test_help[{{help.qindex}}] = '{{help.helplink}}'; {% endfor %}
    var g_test_help = [];
//  {% for help in g_helps %}g_test_help[{{help.qindex}}] = '{{help.helplink}}'; {% endfor %}
    var e_test_help = [];
//  {% for help in e_helps %}e_test_help[{{help.qindex}}] = '{{help.helplink}}'; {% endfor %}
    var nz_test_help = [];
//  {% for help in nz_helps %}nz_test_help[{{help.qindex}}] = '{{help.helplink}}'; {% endfor %}
    var cb_test_help = [];
//  {% for help in cb_helps %}cb_test_help[{{help.qindex}}] = '{{help.helplink}}'; {% endfor %}
    var ca_test_help = [];
//  {% for help in ca_helps %}ca_test_help[{{help.qindex}}] = '{{help.helplink}}'; {% endfor %}
</script>

<script type="text/javascript" src="jscript/login.js"></script>
<script type="text/javascript" src="jscript/tqs.js"></script>
<script type="text/javascript" src="jscript/ham_simple.js"></script>

</body>

